<div class="modal fade" id="cookie" tabindex="-1" aria-labelledby="cookieLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="cookieLabel">Pliki Cookie</h1>
            </div>
            <div class="modal-body fs-5">
                Ta strona używa plików cookie do analityki. Za pomocą Google Analitycs.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary" data-bs-cookie-value="denied"><!--Tylko wymagane-->Nie wyrażam zgody</button>
                <button type="button" class="btn btn-lg btn-secondary" data-bs-cookie-value="granted">OK</button>
            </div>
        </div>
    </div>
</div>