<nav class="navbar container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/logo-navbar.png' | relative_url }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Młodzi w Równowadze
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/about' | relative_url }}">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/blog' | relative_url }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/team' | relative_url }}">Zespół</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/volunteer' | relative_url }}">Wolontariusze</a>
                </li>
            </ul>
        </div>
    </div>
</nav>