$light-text: #0f1009;
$light-bg: #edf1d5;
$light-primary: #609a66;
$light-secondary: #8dd896;
$light-tertiary: #7bb886;

$dark-text: #f5f6ef;
$dark-bg: #262a0e;
$dark-primary: #659f6b;
$dark-secondary: #277230;
$dark-tertiary: #478553;



//$font-family-base: 'Garet Book', 'Garet Heavy', sans-serif;


// Light mode
$body-bg: $light-bg;
$body-color: $light-text;
$primary: $light-primary;
$secondary: $light-secondary;

$navbar-light-color: $light-primary;
$navbar-light-hover-color: $light-tertiary;
$navbar-light-brand-color: $light-primary;
$navbar-light-brand-hover-color: $light-tertiary;

$link-color: $light-tertiary;


// Dark mode
$body-bg-dark: $dark-bg;
$body-color-dark: $dark-text;
$primary-dark: $dark-primary;
$secondary-dark: $dark-secondary;

$navbar-dark-color: $dark-primary;
$navbar-dark-hover-color: $dark-tertiary;
$navbar-dark-brand-color: $dark-primary;
$navbar-dark-brand-hover-color: $dark-tertiary;

$link-color-dark: $dark-tertiary;