
$light-bg: #EDF1D6;
$light-primary: #609966;
$light-secondary: #8ED897;
$light-tertiary: #407B49;

$dark-bg: #2E3A2A;
$dark-primary: #6D8A5B;
$dark-secondary: #8ED897;
$dark-tertiary: #407B49;



//$font-family-base: 'Garet Book', 'Garet Heavy', sans-serif;


// Light mode
$body-bg: $light-bg;
$body-color: $light-primary;
$primary: $light-primary;
$secondary: $light-secondary;

$navbar-light-color: $light-primary;
$navbar-light-hover-color: $light-tertiary;
$navbar-light-brand-color: $light-primary;
$navbar-light-brand-hover-color: $light-tertiary;

$link-color: $light-tertiary;


// Dark mode
$body-bg-dark: $dark-bg;
$body-color-dark: $dark-primary;
$primary-dark: $dark-primary;
$secondary-dark: $dark-secondary;

$navbar-dark-color: $dark-primary;
$navbar-dark-hover-color: $dark-tertiary;
$navbar-dark-brand-color: $dark-primary;
$navbar-dark-brand-hover-color: $dark-tertiary;

$link-color-dark: $dark-tertiary;
