
$light-bg: #EDF1D6;
$light-primary: #609966;
$light-secondary: #8ED897;
$light-tertiary: #407B49;

$dark-bg: #2E3A2A;
$dark-color: #6D8A5B;
$font-family-base: 'Garet Book', 'Garet Heavy', sans-serif;


$body-bg: $light-bg;
$body-color: $light-primary;
$color-contrast-light: $dark-color;
$primary: $light-primary;
$navbar-light-color: $light-primary;
$navbar-light-brand-color: $light-primary;

$body-bg-dark: $light-secondary;
$body-color-dark: $dark-color;