$main-bg: #EDF1D6;
$main-color: #609966;


$body-bg: $main-bg;
$body-color: $main-color;
$primary: $main-color;
$navbar-light-color: $main-color;
$navbar-light-brand-color: $main-color;


:root {
  --background-light: #EDF1D6;
  --primary-light: #609966;
  --background-dark: #2E3A2A;
  --primary-dark: #6D8A5B;
}