<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title == "" %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/cookie.js' | relative_url }}"></script>
    <script async src="//www.googletagmanager.com/gtag/js?id=G-1SMKKF18WE"></script>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCW3LD2J');
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WCW3LD2J"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    {% include cookies.html %}

    <header class="navbar container-xxl flex-wrap border-bottom navbar-expand-lg bd-navbar sticky-top bg-body">
        {% include header.html %}
    </header>

    <main class="container mt-4">
        {{ content }}
    </main>

    <footer class="container mt-auto d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        {% include footer.html %}
    </footer>

    <script src="{{ '/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js' | relative_url }}"></script>
</body>
</html>