<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="90858890-7e4c-420a-a77e-f9e3dcf12a03"
            data-blockingmode="auto" type="text/javascript"></script>
    {% include analytics.html %}
</head>
<body>


<header class="navbar navbar-expand-lg bd-navbar sticky-top">
    {% include header.html %}
</header>

<main class="container mt-4">
    {{ content }}
</main>

<footer class="footer mt-auto py-3">
    {% include footer.html %}
</footer>

<script id="CookieDeclaration" src="https://consent.cookiebot.com/90858890-7e4c-420a-a77e-f9e3dcf12a03/cd.js"
        type="text/javascript" async></script>
<script src="{{ '/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js' | relative_url }}"></script>
</body>
</html>